body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

/* HEADER */
header {
    background-color: #1e3a8a;
    color: white;
    text-align: center;
    padding: 25px;
}

/* SECTIONS */
section {
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 6px;
}

h2 {
    color: #1e3a8a;
}

/* IMAGE */
img {
    width: 150px;
    display: block;
    margin-bottom: 10px;
}

/* SKILLS */
ul {
    list-style-type: square;
}

/* PROJECT */
.project img {
    width: 200px;
}

/* RESUME LINK */
a {
    color: #1e3a8a;
    font-weight: bold;
    text-decoration: none;
}

/* FOOTER */
footer {
    background-color: #1e3a8a;
    color: white;
    text-align: center;
    padding: 10px;
}